<div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Timeline Event</h5>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="" method="post">
	    {{ eventf.hidden_tag() }}
		{{ eventf.event.label() }}
		{{ eventf.event(class="form-control") }}
		{{ eventf.owner.label() }}
		{{ eventf.owner(class="form-control") }}
		{{ eventf.activity_type.label() }}
		{{ eventf.activity_type(class="form-control") }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {{ eventf.submit(class="btn btn-primary") }}
          </form>
      </div>
    </div>
  </div>
</div>