<div class="modal fade" id="addMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Team Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="" method="post">
	    {{ teamf.hidden_tag() }}
		{{ teamf.person.label() }}
		{{ teamf.person(class="form-control") }}
		{{ teamf.role.label() }}
		{{ teamf.role(class="form-control") }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {{ teamf.submit(class="btn btn-primary") }}
          </form>
      </div>
    </div>
  </div>
</div>