<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Register New User</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-signin" action="" method="post">
	    {{ regf.hidden_tag() }}
		{{ regf.uname.label() }}
		{{ regf.uname(class="form-control") }}
		{{ regf.full_name.label() }}
		{{ regf.full_name(class="form-control") }}
		{{ regf.email.label() }}
		{{ regf.email(class="form-control") }}
		{{ regf.role.label() }}
		{{ regf.role(class="form-control") }}
		{{ regf.team.label() }}
		{{ regf.team(class="form-control") }}
		{{ regf.password.label() }}
		{{ regf.password(class="form-control") }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {{ regf.submit(class="btn btn-primary") }}
          </form>
      </div>
    </div>
  </div>
</div>