<div class="modal fade" id="TaskMgtModal" tabindex="-1" role="dialog" aria-labelledby="TaskMgtModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Task Managementr</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="list-group">
	<strong href="#" class="list-group-item list-group-item-action active">
		Task List
	</strong>
	{% for task in tasks %}
	<div class="list-group-item justify-content-between">
		{{ task.body }}
		<span class="float-end fw-bold">{{ task.assignee }} - Delete - Complete</span>
	</div>
	{% endfor %}
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>