{% if inc.status == 'open' %}
<div class="col-md-4">
	<div class="alert alert-success alert-dismissable">
		{% include "forms/addEvent.html" %}
	</div>
</div>
<div class="col-md-4">
	<div class="alert alert-success alert-dismissable">
		{% include "forms/addTask.html" %}<!-- can use 'ignore missing with/without context -->
	</div>
</div>
<div class="col-md-4">
	<div class="alert alert-success alert-dismissable">
			{% include "forms/addMember.html" %}
	</div>
</div>
{% else %}
<div class="col-md-4">
	<div class="alert alert-success alert-dismissable">
		<h4>You cannot add events to a closed incident</h4>
	</div>
</div>
<div class="col-md-4">
	<div class="alert alert-success alert-dismissable">
		<h4>You cannot add tasks to a closed incident</h4>
	</div>
</div>
<div class="col-md-4">
	<div class="alert alert-success alert-dismissable">
		<h4>You cannot add members to a closed incident</h4>
	</div>
</div>
{% endif %}