<div class="col-md-4">
	<div class="alert alert-success alert-dismissable">
		<h4>
			Authenticated Area
		</h4> You are logged in as <strong>{{ current_user.username }}</strong> with the role of <strong>{{ current_user.role }}</strong>
	</div>
</div>
<div class="col-md-4">
	<div class="alert alert-success alert-dismissable">
		<h4>
			Next Business Comms
		</h4> <strong>Due at:</strong> 15:30
	</div>
</div>
<div class="col-md-4">
	<div class="alert alert-success alert-dismissable">
		<h4>Hello World</h4>

	</div>
</div>