<div class="col-md-4">
	<div class="alert alert-success alert-dismissable">
		<h4>
			{{inc.incident_no}}
		</h4> {{inc.description}}
	</div>
</div>
<div class="col-md-4">
	<div class="alert alert-success alert-dismissable">
		<h4>
			Task overview
		</h4> <strong>Tasks open:</strong> 5<br/><strong>Tasks Closed:</strong> 5
	</div>
</div>
<div class="col-md-4">
	{% if inc.status == 'open' %}
	<div class="alert alert-success alert-danger">
		<h4>
			Incident Status
		</h4> <strong>Ongoing!</strong>
	</div>
	{% else %}
		<div class="alert alert-success alert-dismissable">
		<h4>
			Incident Status
		</h4> <strong>Resolved!</strong>
	</div>
	{% endif %}
</div>