<h3 class="text-left text-muted">
	Timeline of events
		<!-- if admin param is set, display the button to add event -->
		{% if admin %}
		<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addEventModal">
			Add Timeline Event
		</button>
		{% endif %}
</h3>
<hr />
<ul class="timeline"><!--Timeline is from https://bootsnipp.com/snippets/xrKXW-->
	{% for tl in timeline %}
		<li>
			<strong>{{ tl.activity }}</strong>
			<p class="float-right">{{tl.timestamp.strftime('%X')}}</p>
			<p>{{ tl.assignee }}: {{ tl.body }}
				{% if current_user.role == 'Incident Manager' %}
				<a href="/remove/{{ inc.incident_no }}/event/{{ tl.id }}">[X]</a>
				{% endif %}
			</p>
		</li>
	{% endfor %}
</ul>
{% if admin %}
{% include "forms/addEventModal.html" %}
{% endif %}