{% extends "base.html" %}
{% block body %}
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					{% include "components/authenticated_header.html" %}
				</div>
				<div class="row">
					<div class="col-md-4">
						{% include "forms/registerUserForm.html" %}<!-- can use 'ignore missing with/without context -->
					</div>
					<div class="col-md-8">
						<h3 class="text-left text-muted">
							Registered users
						</h3>
						<hr />
							<table class="table table-striped table-hover table-sm">
								<thead>
									<tr>
										<th>
											Name
										</th>
										<th>
											Username
										</th>
										<th>
											Role
										</th>
										<th>
											Team
										</th>
										<th>
											Delete
										</th>
									</tr>
								</thead>
								<tbody>
									{% for user in users %}
									<tr class="table">
										<td>
											{{ user.name }}
										</td>
										<td>
											{{ user.username }}

										</td>
										<td>
											{{ user.role }}
										</td>
										<td>
											{{ user.team }}
										</td>
										<td>
											<form method="post" action="update/deleteuser">
												<input type="hidden" value="{{ user.id }}" name="userid" />
												<a onclick="this.parentNode.submit();">[X]</a>
											</form>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}