{% extends "pages/base.html" %}
{% block main %}
<header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
                        <div class="container-fluid px-4">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="user"></i></div>
                                            System List
                                        </h1>
                                    </div>
                                    <div class="col-12 col-xl-auto mb-3">
                                        <button class="btn btn-sm btn-light text-primary" type="button" data-bs-toggle="modal" data-bs-target="#addSystemModal">
                                            <i class="me-1" data-feather="plus"></i>
                                            Add System
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- Main page content-->
                    <div class="container-fluid px-4">
                        <div class="card">
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>System Name</th>
                                            <th>Category</th>
                                            <th>Owner</th>
                                            <th>Primary Contact</th>
                                            <th>Priority</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>System Name</th>
                                            <th>Category</th>
                                            <th>Owner</th>
                                            <th>Primary Contact</th>
                                            <th>Priority</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for sys in systems %}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    {{ sys.name }}
                                                </div>
                                            </td>
                                            <td>{{ sys.category }}</td>
                                            <td>{{ sys.owner }}</td>
                                            <td>{{ sys.primary_contact }}</td>
                                            <td>{{ sys.priority }}</td>
                                            <td>
                                                <a class="btn btn-datatable btn-icon btn-transparent-dark me-2" href="{{ url_for('systems.systemProfile', id=sys.id) }}"><i data-feather="edit"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
{% endblock %}
{% include "forms/addSystemModal.html" %}